.addColor {
  background-color: antiquewhite;
  float: right;
  margin-right: 5px;
}

#aritcle__infor {
  border: 3px solid #c49d5a;
  width: 50%;
  height: 600px;
  padding: 20px;
  overflow: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
    
  }
   
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #88888855; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8; 
  }
}

.idOrder {
  margin-bottom: 20px;
}

.inforOrder--customer p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}

.statusOrder {
  margin: 15px 0px;
  color: #015eff;
}

.inforOrder {
  margin-bottom: 50px;
  border: 1px dashed black;
  padding: 10px;
}

.inforProduct p {
  margin-bottom: 5px;
  font-size: 15px;
}

.listItem p {
  font-size: 15px;
}

.tongtien {
  font-size: 17px;
  font-weight: 400;
  color: red;
}
.listColor{
    border: 1px solid red;
}