// #nhut{
//   color: red;
// }
// .abc{
//   color: red;
// }
p{
  margin: 0 !important;
}

header {
  margin-bottom: 20px;
}
.titleFS {
  background-color: #f5f5f5;
}
.titleFS_IF {
  text-align: center;
  animation: animatedColors 5s linear infinite alternate;
}
.mainheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //margin: 0px 190px;
}
.titleNS {
  font-size: 30px;
  margin: 0px;
  color: #69472f;
  font-family: "Times New Roman", Times, serif;
}
@keyframes animatedColors {
  0% {
    color: red;
  }
  20% {
    color: orange;
  }
  40% {
    color: black;
  }
  60% {
    color: green;
  }
  80% {
    color: blue;
  }
  100% {
    color: purple;
  }
}

.nav__options {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.option-of__nav {
  margin: 0px 20px;
}
@keyframes upSide {
  from {
    opacity: 0;
    top: 100px;
  }
  to {
    opacity: 1;
    top: 27px;
  }
}
@keyframes hieuungchidoi {
  from {
    opacity: 0;
    left: 0%;
  }
  to {
    opacity: 1;
    left: 50%;
  }
}
.option-of__nav--deep:hover .list--fashion {
  display: block;
  animation: upSide linear 0.2s forwards;
}
.option-of__nav--deep {
  position: relative;
}

.list_link {
  font-size: 17px;
  color: #c39678;
  text-decoration: none;
  padding: 25px 0px;
}
.list--fashion {
  display: none;
  width: 200px;
  top: 100px;
  position: absolute;
  z-index: 999999;
  list-style-type: none;
  background-color: #fff;
  padding: 0px;
  margin-top: 25px;
}
.list--fashion__selectors {
  padding: 0px;
  border-bottom: 1px #ccb2a1 solid;
  padding: 7px 15px;
}
.list--fashion__link {
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  font-weight: 200;
}
.list--fashion__link:hover {
  color: #a2660c;
  font-size: 17px;
  font-weight: 200;
}

.list_link:hover {
  color: #c3a795;
  border-bottom: 3px solid #c0a593;
}

.nav__icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.down {
  font-size: 15px;
  margin-left: 3px;
}
.icon__selector {
  margin: 0px 10px;
  color: #c39678;
  font-size: 23px;
  margin: 0px 15px;
}
// css cho thanh tìm kiếm
// .search{
// }
.formsearch {
  position: absolute;
  height: 150px;
  // display: none;
  width: 450px;
  background-color: #fff;
  border: #00000075 2px solid;
  text-align: center;
  top: 95px;
  right: 150px;
  z-index: 99999999;
}
.show__formsearch {
  display: block;
}
.hidden__formsearch {
  display: none;
}
#search:hover {
  cursor: pointer;
}
.formsearch h3 {
  font-weight: lighter;
}
#inputsearch5 {
  width: 400px;
  margin: auto;
  background-color: #efefef;
}
.formsearch__input {
  position: relative;
}
.search-in-input {
  position: absolute;
  bottom: 0;
  right: 40px;
  border: none;
  color: #ab7534;
}
.search-in-input:hover {
  cursor: pointer;
}
#cancle--search {
  color: #ffffff;
  z-index: 99999999;
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  font-size: 333px;
  background-color: #69472f;
}
#cancle--search:hover {
  cursor: pointer;
}
.text--cancle--search {
  font-size: 15px;
  text-align: center;
  
}
// annimation cho tìm kiếm
@keyframes showsearch {
  from {
    opacity: 0;
    bottom: 0%;
  }
  to {
    opacity: 1;
    bottom: 7%;
  }
}
@keyframes hiddencart {
  from {
    opacity: 1;
    bottom: 7%;
  }
  to {
    opacity: 0;
    bottom: 0%;
  }
}
// css cho đăng nhập
.formacc {
  position: absolute;
  height: 390px;
  // display: none;
  width: 340px !important;
  background-color: #fff;
  border: #00000075 2px solid;
  text-align: center;
  top: 95px;
  right: 170px;
  z-index: 99999999;
}
.acc__title {
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 5px;
}
.acc__require {
  font-size: 15px;
  color: #000000;
  margin-bottom: 0px;
}
// css cho form
.label--text {
  font-size: 15px;
  color: rgb(51, 51, 51);
  font-weight: 500;
}
.size--input {
  height: 45px !important;
}
.btn-account {
  background-color: #c39678;
  border: none;
  width: 310px;
  margin-top: 10px;
}
.btn-account:hover {
  cursor: pointer;
  background-color: #c48256;
}
.rules {
  text-align: justify;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 13px;
}
.iconUser--color {
  color: #c39678;
  font-size: 23px;
  position: relative;
}
.signup {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 15px;
  text-align: left;
  color: #000000;
}
.link--signup {
  font-size: 15px;
  color: #a2660c;
}
.forgetpass {
  font-size: 15px;
  text-align: left;
  color: #000000;
}
.link--forgetpass {
  font-size: 15px;
  color: #a2660c;
}
//
.show__formacc {
  display: block;
}
.hidden__formacc {
  display: none;
}
#account:hover {
  cursor: pointer;
}
#cancle--acc {
  color: #ffffff;
  z-index: 99999999;
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background-color: #69472f;
}
#cancle--acc:hover {
  cursor: pointer;
}
.text--cancle--acc {
  font-size: 15px;
  text-align: center;
}
.welcome__user {
  padding: 3px;
  margin: 0px 0px 20px 0px;
  position: absolute;
  top: 0px;
}
.content--feedback {
  font-size: 15px;
  text-align: left;
}
// css cho giỏ hàng
// css cho chỉ số trên giỏ hàng
.watch-cart {
  // display: none;
  width: 420px !important;
  height: 200px !important;
  background-color: #fff;
  position: absolute;
  top: 95px;
  right: 150px;
  z-index: 999999999;
  border: #00000075 2px solid;
}
.watch-cart h5 {
  margin-top: 10px;
  font-weight: 400;
  text-align: center;
}
.cost {
  color: red;
}
.noItemInCart {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}
.cart-items {
  position: relative;
}
.number-items {
  position: absolute;
  font-size: 16px;
  bottom: 75%;
  left:50%;
  // transform: translate(0,0);
}
.money p {
  margin: 0px;
}
.btn-cart {
  background-color: #c39678;
  border: none;
  width: 180px;
  height: 30px;
  font-size: 15px;
}
.btn-cart:hover {
  cursor: pointer;
  background-color: #c48256;
}
#cancle--cart {
  color: #ffffff;
  z-index: 99999999;
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background-color: #69472f;
}
#cancle--cart:hover {
  cursor: pointer;
}
.text--cancle--cart {
  font-size: 15px;
  text-align: center;
}
.show__watchcart {
  display: block;
}
.hidden__watchcart {
  display: none;
}
// .customerCart p{
//     margin-bottom: 0px;
// }
