.articleLogin {
  width: 35%;
}
.size--input-login {
  height: 60px !important;
  background-color: rgb(224, 226, 227);
}
.label--text {
  z-index: 99999999;
  font-size: 17px;
}
.btn-login {
  text-align: center;
  width: 170px;
  //   margin-left: 25%;
//   padding:  auto;
  background-color: #d39871;
  border: none;
}
.btn-login:hover {
  background-color: #c5743f;
}
.policy {
  color: #e8a355;
}
.title__login {
  //   margin: 0 195px;
  color: #c5743f;
  border-width: 20px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 5px solid #cc5c11;
  margin-bottom: 20px;
}

.articleBtnLogin{
    text-align: center;
}
